* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background-color: rgb(176, 219, 21);
    height: 15vh;
    line-height: 15vh;
    border: 1px solid black;
}

main {
    display: flex;
    height: 70vh;
    line-height: 70vh;
}

article {
    flex: 3;
    order: 2;
    background-color: rgb(163, 25, 46);
    border: 1.5px solid black;
}

aside {
    flex: 1;
    background-color: rgb(209, 205, 205);
    order: 3;
    border: 1px solid black;
}

nav {
    flex: 1;
    background-color: rgb(52, 132, 236);
    order: 1;
    border: 1px solid black;
}

footer {
    background-color: rgb(34, 75, 151);
    height: 15vh;
    line-height: 15vh;
    border: 1px solid black;
}