* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}

img {
    width: 10%;
    height: auto;
    display: block;
    border-radius: 10px;
}

nav {
    background-color: rgb(0, 34, 97);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    margin: 0 15px;
    list-style-type: none;
}
